# Node modules
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for uploaded files in development
uploads/*
!uploads/.gitkeep

# SQLite database
*.sqlite
*.sqlite-journal

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Local Netlify folder
.netlify
